body{
    /*background: rgb(230,230,230);
    background: linear-gradient(0deg, rgba(230,230,230,1) 0%,
    rgba(152,152,152,1) 69%, rgba(87,87,87,1) 100%);*/

    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%,
    rgba(158,158,158,1) 77%, rgba(96,96,96,1) 100%);
      font-family: Verdana, Arial, Helvetica, sans-serif;

    background-repeat: no-repeat;
  }
  .navBtn, #btn{
    width: 100%;
    border-radius: 15px 50px;
    font-size: 15px;
    background-color: #8dcaff;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
     0 17px 50px 0 rgba(0,0,0,0.19);
  }
  #reportsBtn{
    background-color: #236baa;
    color: #a1d3ff;
  }
  #orderBtn{
    background-color: #074e8b;
    color: #a1d3ff;
  }
  #customerBtn{
    background-color: #083b66;
    color: #a1d3ff;

  }
  #adminBtn, #btn{
    background-color: #01233f;
    color: #a1d3ff;
  }

  .navbar{
    border-radius: 15px 50px;
    border-width: 1.5px;
    border-color: #a1d3ff;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: #01233f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}

  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }


  /*
  01233f
  083b66
  1761a0
  4c96d7
  8dcaff
  */
