<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <div th:fragment="head-links">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/master.css"/>
  </div>
</head>
<body>
    <div class="navbar col-12" th:fragment="navbar">
        <div class="nav-item col-md-3">
          <a class="homeNav" href="#"><image class="homeImg" src="/img/braylonLogo.png"/></a>
        </div>
        <div class="nav-item col-md-2">
          <a class="adminNav" href="#"><button class="navBtn" type="submit" id="adminBtn" name="adminBtn">
            Admin</button></a>
        </div>
        <div class="nav-item col-md-2">
          <a class="customerNav" href="#"><button class="navBtn" type="submit" id="customerBtn" name="customerBtn">
            Customers</button></a>
        </div>
        <div class="nav-item col-md-2">
          <a class="orderNav" href="#"><button class="navBtn" type="submit" id="orderBtn" name="orderBtn">
            Orders</button></a>
        </div>
        <div class="nav-item col-md-2">
          <a class="visitsNav" href="#"><button class="navBtn" type="submit" id="visitBtn" name="visitBtn">
            Visits</button></a>
        </div>
        <div class="col-md-12">
          <p style="text-align: center; font-style: italic; color: #8dcaff">You might find...you'll get what you need.</p>
        </div>
      </div>
      <br>
      <br>
      <section th:insert="${section} ?: ~{}">
      </section>
</div>
</body>
</html>
