<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/master.css"/>
        <style>
          h1, th, td{
            text-align: center;
            color: #01233F;
          }
          label, input {
            color: #01233F;
          }
          label{
            font-weight: bold;
          }
          input, select{
            padding-left: 5px;
            border-radius: 5px;
            height: 35px;
          }
        </style>
        <title>Braylon: Edit Sales Visit</title>
    </head>
    <body>
        <div class="container">
		<!-------------------navigation bar------------------->
    <div class="navbar col-12">
        <div class="nav-item col-md-3">
          <a class="homeNav" th:href="dashboard"><image class="homeImg" src="img/braylonLogo.png"/></a>
        </div>
        <div class="nav-item col-md-2">
          <a class="adminNav" th:href="admin"><button class="navBtn" type="submit" id="adminBtn" name="adminBtn">
            Admin</button></a>
        </div>
        <div class="nav-item col-md-2">
          <a class="customerNav" th:href="customers"><button class="navBtn" type="submit" id="customerBtn" name="customerBtn">
            Customers</button></a>
        </div>
        <div class="nav-item col-md-2">
          <a class="orderNav" th:href="customerOrders"><button class="navBtn" type="submit" id="orderBtn" name="orderBtn">
            Orders</button></a>
        </div>
        <div class="nav-item col-md-2">
          <a class="visitsNav" th:href="salesVisits"><button class="navBtn" type="submit" id="visitBtn" name="visitBtn">
            Visits</button></a>
        </div>
              <div class="col-md-12">
                <p style="text-align: center; font-style: italic; color: #8DCAFF">You might find...you'll get what you need.</p>
              </div>
            </div>
            <br>
			<!-------------- Table data Section ---------------->
      			<div class="frame1 col-md-12" >
              <h1>Edit Sales Visit</h1>
              <br>
      			<form type="form" method="POST" action="editVisit" autocomplete="off">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
              <input type="hidden" id="visit_id" name="visit_id"
              th:value="${salesVisit.visit_id}"/>
              <input type="hidden" id="employee" name="employee"
              th:value="${salesVisit.user.employee_id}"/>
              <div class="form-row col-md-12">
                <div class="form-item col-md-6">
                  <label style="font-height: 15px;">Employee:</label>
                  <select style="width: 75%;" id="employee" name="employeeId">
                    <option th:value="${salesVisit.user.employee_id}" th:text="${salesVisit.user.firstName + ' ' + salesVisit.user.lastName}" disabled selected>Employee</option>
                  </select>
                </div>
                <div class="form-item col-md-6" align="right">
                  <label style="font-height: 15px;">Customer:</label>
                  <select style="width: 75%;" id="customer" name="customer">
                    <option th:each="customer : ${customers}"
                            th:value="${customer.customer_id}"
                            th:text="${customer.company + ' -- ' + customer.contact}"
                            th:selected="${salesVisit.customer.customer_id == customer.customer_id}">
                            Customer</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="form-row col-md-12">
                <div class="form-item col-md-3">
                  <label style="font-height: 15px;">Date:</label>
                  <input style="width:66%;" type="date" name="visitDate"
                  id="visitDate" th:value="${salesVisit.visit_date}"/>
                </div>
                <div class="form-item col-md-3">
                  <label style="font-height: 15px;">Time:</label>
                  <select style="width: 66%;" id="visitTime" name="visitTime">
                    <option selected th:value="${salesVisit.time.time_id}"
                            th:text="${salesVisit.time.time_name}"></option>
                    <option th:each="visitTime : ${visitTimes}"
                            th:value="${visitTime.time_id}"
                            th:text="${visitTime.time_name}">Time</option>
                  </select>
                </div>
                <div class="form-item col-md-6" align="right">
                  <label style="font-height: 15px;">Purpose:</label>
                  <select style="width: 75%;" id="employeeId" name="purpose">
                    <option selected th:value="${salesVisit.purpose.purpose_id}"
                            th:text="${salesVisit.purpose.purpose_name}"></option>
                    <option th:each="visitPurpose : ${visitPurposes}"
                            th:value="${visitPurpose.purpose_id}"
                            th:text="${visitPurpose.purpose_name}">Purpose</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="col-md-12" align="right">
                <button class="col-md-2" type="submit" id="btn" name="button">Schedule</button>
              </div>
            </form>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
