@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


:root{
	--dark-grey: #939393;
	--dark-blue: #083b66;
	--light-blue: #8dcaff;
	--medium-blue: #4c96d7;
  }

  *{
	font-family: 'Fjalla One', sans-serif;  
}

body{
	background-color:white;
} 

.navbar{
	margin-top: 0;
	background-color: var(--dark-grey);
}

.top-nav-link a{
	color: var(--dark-blue);
	text-decoration: none;
	font-size: 2em;
}

.top-nav-link a:hover{
	color: var(--light-blue);

}

.active-page a{
	color: var(--light-blue);
}

.button{
	background: var(--dark-blue);
	border-width: 2px;
	border-color: var(--light-blue);
	color: var(--light-blue);
}

.cancel-button{
	background-color: lightgray;
	color: black;
}

#signout{
	background: none;
	border: none;
	font-size: 1.5em;
	color: white;
}

.button:hover{
	background: var(--light-blue);
	background-color: var(--light-blue);
	color: var(--dark-blue);
}

.cancel-button:hover{
	background-color: var(--dark-grey);
	color: white;
}

.nav-tabs{
	width:80%;
	margin: 0 auto;
}
.nav-item{
	width:20%;
}

.container{
	margin-top: 2em;
	text-align: center;
	display: grid;
}
.report{
	margin-top: 1em;
	font-size: 1.25em;

}
.report th{
	background-color: var(--dark-blue);
	border: none;
	color: var(--light-blue);
}

.report tr:nth-child(even){
	background-color: rgb(212, 211, 211);
}

#add-user-above, #add-user-below{
	display: none;
}

.form-container{
	background-color: var(--dark-grey);
}